.logo {
  background: url("{{'logo.png' | asset_url}}");
  background-repeat: no-repeat;
  background-size: 33% 64%;
  background-position: center;
  height: 41px;
}

.app-box {
  border-radius: 3px;
  background-color: #f5f5f5;
  height: 70px;
  padding: 15px 0px;
}

.app-text {
  padding: 10px;
  color: black;
  font-size: 14px;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}